[Unit]
Description=Service for CPU and RAM load logging
[Service]
ExecStart=/usr/local/task-5/cpu-and-ram-tempfs-log.sh
[Install]
WantedBy=multi-user.target

